<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ledatic.lakes_attest</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/ledaticempire/projects/ledatic-site/tools/lakes/lakes_attest_publisher.sh</string>
        <string>--publish</string>
    </array>

    <key>StartInterval</key>
    <integer>30</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>15</integer>

    <key>StandardOutPath</key>
    <string>/Users/ledaticempire/.ledatic/lakes/attest.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/ledaticempire/.ledatic/lakes/attest.err</string>
</dict>
</plist>
